.circle_button {
    border-radius: 100vw;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.circle_button:hover {
    opacity: 0.8;
}



.links li {
    width: 120px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
}

.auto {
    background-color: var(--button-bg-color);
}

.dark {
    background-color: #333;
    color: white;
}

.light {
    background-color: #f5f5f5;
    color: #333;
}

.danger {
    background-color: #e74c3c;
    color: white;
}

.loading {
    background-color: gray;
    cursor: not-allowed;
}