.floating_input_wrapper {
    position: relative;
    margin: 1rem 0;
  }
  
  .floating_input {
    width: 100%;
    padding: 1rem 0.5rem 0.5rem;
    top: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: var(--ui-background-color);
    color: var(--font-color);
  }
  
  .floating_label{
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    color: #888;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.15s ease;
  }
  
  .floating_input:focus + .floating_label,
  .floating_label.float {
    top: 0.2rem;
    font-size: 0.75rem;
    color: #8a8a8a;
    background: none;
    padding: 0 0.2rem;
  }

.floating_input {
  width: 100%;
  padding: 14px 40px 12px 12px; /* leave space for icon */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.eye_button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
