@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

/* just this since were using normalize.css */
* {
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.active {
  color: rgb(253, 172, 86);
}

html, body {
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' opacity='0.1' viewBox='0 0 90 90' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='10' fill='grey' /%3E%3C/svg%3E");
}

:root {
  /* background */
  --light-bg: #F3EFE8;
  --dark-bg: #282c34;

  /* navbar */
  --light-navbar-bg: #17235f;
  --dark-navbar-bg: #282c34;
  
  /* font color */
  --light-font-color: #000;
  --dark-font-color: #fff;

  /* ui background color */
  --dark-ui-bg: #222529;
  --light-ui-bg: #fff;

  /* button background color */
  --dark-button-bg-color: #fe9900;
  --light-button-bg-color: #17235f;
}

body {
  font-family: 'Varela Round';
  background-color: var(--bg);
  color: var(--font-color);
}

.container {
  width: 850px;
  background-color: var(--ui-background-color);
  border-radius: 1rem;
  margin: 0px auto;
  margin-top: 5rem;
  min-height: 70vh;
  padding: 1rem;
}

.pac-container {
  z-index: 9999 !important;
}

/* Desktop only */
@media (min-width: 821px) { }

/* Tablet only */
@media (min-width: 481px) and (max-width: 820px) { }

/* Mobile only */
@media (min-width: 320px) and (max-width: 480px) {

  .container {
    width: 95vw;
  }
}



/* USER PREFERENCE BASE ON DEVICE SETTING */

@media (prefers-color-scheme: dark) {
  :root {
      --bg: var(--dark-bg);
      --navbar-bg: var(--dark-navbar-bg);
      --font-color: var(--dark-font-color);
      --ui-background-color: var(--dark-ui-bg);
      --button-bg-color: var(--dark-button-bg-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --bg: var(--light-bg);
      --navbar-bg: var(--light-navbar-bg);
      --font-color: var(--light-font-color);
      --ui-background-color: var(--light-ui-bg);
      --button-bg-color: var(--light-button-bg-color);
  }
}